.side-content
  .side-header
    .side-header__name yuto
    .side-header__edit
      %i.fa.fa-cog
    .side-header__icon
      %i.fa.fa-pencil-square-o
  .side-body
    .side-body__group group1
    .side-body__message aaa
    .side-body__group group1
    .side-body__message aaa
