!!!

%body
  fa_icon "twitter"
  .sub-content
    .sub-user
      .sub-user__body
        .sub-user__left
          yuto
        .sub-user__center
          image1
        .sub-user__right
          image2

    .sub-group
      .sub-group
        .sub-group__name
          group1
        .sub-group__message
          aaaaa

  .main-content
    .main-top
      .main-top-header
        .main-top__left
          new-group1
        .main-top__right
          edit
      .main-top__center
        Members:yuto
    .main-body
      .main-body__mesagges
        .main-body__message
          .main-body__message__name
          .main-body__message__time
          .main-body__message__message

    .main-bottom
      %form{:class => "message" }
        .main-bottom__message




